header{
      background: #34014d;
        color: #888;
        padding: 1.5rem;
        font-family: Arial, sans-serif;
        font-size: 0.85rem;
  
}

h3{
  color: rgb(0, 145, 230);
  
}

.Gray{
  color: rgb(175, 175, 175);
}

h1{
  color: aliceblue;
}

h2{
  color: rgb(0, 49, 139);
}

section2{
      
        padding: 1.5rem;
        font-family: Arial, sans-serif;
        font-size: 0.85rem;
}
